* {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

a {
  color: white;
}

h2 {
  color: white;
}

input[placeholder] {
  //Texto cuando se escribe
  color: white;
}

li>img {
  padding-bottom: 10%;
}

nav {
  padding: 20px 60px 20px 40px;
}

p {
  color: white;
}

span>img {
  align-content: left;
}

#scdH2 {
  margin-top: 0;
}

#sizing-addon3 {
  background: none;
  border: none;
  padding: 0 10% 15% 0;
}

#input1, #input2 {
  background: none;
  border: solid 1px white;
  border-radius: 5px;
  padding: 5%;
  height: 5vh;
}

#map {
  height: 60vh;
  width: 100%;
}

.boxtext3 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4%;
  height: -webkit-fill-available;
}

.boxtext3>p {
  font-size: 16px;
}

.boxtext3>p>.btn {
  background-color: #F7B617;
  border-color: #F7B617;
  color: white;
  font-size: 18px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
}

.btn2 {
  margin-top: 5%;
}

.btn3 {
  padding: 2% 8%;
  margin-left: 25%;
}

.col-lg-4>h2 {
  padding: 15% 0% 2% 0%;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.col-lg-5>.contfirsts>h2 {
  color: white;
  margin-bottom: 0;
}

.col-lg-9 {
  border: solid 2px white;
  border-left: none;
  padding: 0;
  margin: 3% 3% 3% 0%;
}

.col-lg-12 {
  margin: 0;
}

.contfirsts {
  padding: 3%;
}

.contfirsts>.subsection1>p>img {
  padding: 1% 0% 1% 2%;
  width: 20%;
}

.copyright>.col-lg-12>.glyphicon-copyright-mark {
  color: white;
  /* padding-left: 1%; */
  width: 100%;
}

.copyright>.col-lg-12>span>p {
  display: inline;
  padding-left: 1%;
}

.fa {
  color: white;
  padding-left: 5%;
}

.firstsection {
  background-image: url("../assets/images/taxi.jpg");
  height: 80vh;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding: 0;
}

.firstsection>.row>.col-lg-5 {
  background-color: #F7B617;
  margin-top: 20vh;
}

.footer {
  background-color: #2B2B2B;
  padding: 10%;
}

/*  Clases para que el placeholder cambie de color de acuerdo a los navegadores*/

.form-control::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
}

/* WebKit, Blink, Edge */

.form-control:-moz-placeholder {
  color: white;
  font-size: 14px;
}

/* Mozilla Firefox 4 to 18 */

.form-control::-moz-placeholder {
  color: white;
  font-size: 14px;
}

/* Mozilla Firefox 19+ */

.form-control:-ms-input-placeholder {
  color: white;
  font-size: 14px;
}

/* Internet Explorer 10-11 */

.form-control::-ms-input-placeholder {
  color: white;
  font-size: 14px;
}

/* Microsoft Edge */

.fourthsection {
  background-color: #F7B617;
  padding: 0;
}

.logofarea {
  padding: 0% 0 0 0;
  margin: 0;
}

.maparea {
  border: 1px solid white;
  padding: 1%;
  margin-top: 5%;
  width: 35%;
}

.mediaarea {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
}

.row {
  margin: 0;
  padding: 0;
}

.scndsection {
  background-color: #F7B617;
  padding: 0;
}

.scndsection>.row>.col-lg-9>.col-lg-6>img {
  width: 68%;
  margin: 10%;
  margin-left: 15%;
}

.scndsection>.row>.col-lg-9>.col-lg-4>p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10%;
}

.subsection1 {
  padding: 1%;
  padding-top: 5%;
}

.spaceline::after, .spaceline::before {
  border-bottom: 1px solid #000;
  border-color: white;
  bottom: 30%;
  content: "";
  margin: 0 10px;
  position: absolute;
  width: 150px;
}

.spaceline::before {
  left: 30px;
}

.spaceline::after {
  right: 30px;
}

.storeimg {
  padding-top: 20%;
}

.subsection1>p {
  color: white;
  font-size: 16px;
}

.textbox4 {
  padding: 1% 0 15%;
}

.textbox4>p {
  padding: 2% 0 6% 0;
  font-size: 16px;
}

.thirdsection {
  background-image: url("../assets/images/conduce.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  padding: 0;
}
 /* Modales */
/* Inicio sesión */
 form > p {
   color: black;
 }

 form > p > a {
   color: #FF1F1F;
 }

 .modal1 {
   background-color: #FFC107;
   color: white;
   margin: 5%;
   margin-left: 35%;
 }

 .modal-content {
   background-color: #FFC849;
 }

 .modal-header > img {
   width:40%;
 }

 .well{
   width: 60%;
   margin: 10%;
   margin-left: 20%;
 }

 .well > form > .form-group > input{
   background-color: #E8E5E5;
 }
/* Modal Registro */
.btnm2{
  background-color: black;
  color: white;
}
.inputname, .inputlastnm {
  width: 46%;
  margin: 2% 2% 2% 0;
}
